/* CSS variable */
:root{
  --iris:#4D5AE5;
  --navy-blue:#2E2F42;
  --cloud:#F4F4FD;   
  --white:#FFFFFF;
}

/* Base */
body {
  margin: 0; 
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* #region Header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo {
  font-family:'Raleway',sans-serif;
  font-weight:700;
  font-size:18px;
  line-height:1.17;
  letter-spacing:0.03em;
  text-transform:uppercase;
  color:#4D5AE5;
}
 
.header-logo .logo-part {
  color: #2E2F42;
}

.footer-logo .logo-part{ 
  color:#F4F4FD; 
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404BBF;
}
/* #endregion */

/* #region Hero section */
.hero {
  background-color: #2E2F42;
  text-align: center;
}

.hero-title {
  margin: 120px 0 24px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.btn {
  background-color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #404BBF;
}
/* #endregion */

/* #region Features-title */
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */

/* #region Our team */
.team-section {
  background-color: #F4F4fD;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  font-weight: 700;
}
.team-list {
  list-style: none;
  margin: 0;
}

.team-card {
  background-color: #FFFFFF; 
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin: 0;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin: 0;
}
/* #endregion */

/* #region Portfolio */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  margin: 0;
}

.work-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin: 0;
}

.work-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0; 
}
/* #endregion */

/* #region Footer */
.page-footer {
  background-color:#2E2F42;  
  color:#F4F4FD
}

.footer-text{
   margin:16px 0 24px;
  line-height:1.5;
  letter-spacing:0.02em;
  color:var(--cloud);     
  white-space:normal;
  overflow-wrap:break-word;
}
/* #endregion */
